<form action="/contacts" method="post">
  <h4>Please enter your email:</h4> <input type="email" name="email" class="file-path validate email-field" placeholder="Enter Email Here">  
<br>
  <input class="btn form-button" type="submit" value="Sub it Up">
</form>

<img id="promo-cookie" src="./free-cookie-email-sign-up.jpg" alt="">