<h2>My Coco Cookies</h2>

<% cookies.each_with_index do |cookie, index| %>
  <% if index%3 === 0 || index === 0%>
  <div class="row">
<% end %>
    <div class="col s12 m6 l3">
      <div class="card">
        <div class="card-image">
          <img src="./cookies/<%= cookie.ima_url%>">
          <span class="card-title"><%= cookie.name %></span>
        </div>
        <div class="card-content">
          <p><%= cookie.description%></p>
        </div>
        <div class="card-action">
          <a href="#">This is a link</a>
        </div>
      </div>
    </div>
  <% if index % 3 === 0 || index === 0%>
  <div>
    <% end %>
<% end %>