<h2>My Coco Cookies</h2>
  <div class="row">
<% cookies.each do |cookie| %>
    <div class="col s12 m6 l4">
      <div class="card">
        <div class="card-image">
          <img src="./cookies/<%= cookie.ima_url%>">
          <span class="card-title"><%= cookie.name %></span>
        </div>
        <div class="card-content">
          <p><%= cookie.description%></p>
        </div>
        <div class="card-action">
           <p class="price">$<%= cookie.price%></p>
        </div>
      </div>
    </div>
<%end %>
  </div>
