<h2>We got that Dough</h2>
<table>
    <tr>
        <th>
            <img id="index-gif" class="center-align" src="ahhh.gif" alt="Ahhh Stop!">
        </th>
        <th>
            <h3>We got that Dough. The best dough. Our bakery hand selects the best dough and beats it into submission
                for your taste.</h3>
        </th>
    </tr>
</table>